
ul li:hover a{
    background-color: #202020;
    width: 210px;
    border-radius: 15px;
    
}

#swichbtn:hover{
    color: #d3dff2;
    font-weight:549.5;
}

#Seeall:hover{
    color: #696969;
}

#Follow1{
    color: #d3dff2;
    font-weight:549.5;
}
