.stories{
    margin-left: 250px;
    width: 800px;
    height: 135px;
    background-color: black;
    border-left: 2px solid  #202020;
    
}

.strory-pic{
    height: 60px;
    width: 60px;

    background: linear-gradient(purple, yellow);


    margin-left: 20px;
    border-radius: 100%;
    float: right;

    transform: translate(-50px,55px);
    align-self: center;
   
}

#storypic1{
    height: 53px;
    width: 53px;

    border-radius: 100%;
    transform: translate(133.5px,59px);
    

}
#storypic2{
    height: 53px;
    width: 53px;

    border-radius: 100%;
    transform: translate(156.5px,59px);

}
#storypic3{
    height: 53px;
    width: 53px;

    border-radius: 100%;
    transform: translate(293.5px,2px);

}
#storypic4{
    height: 53px;
    width: 53px;

    border-radius: 100%;
    transform: translate(316.5px,2px);

}
#storypic5{
    height: 53px;
    width: 53px;

    border-radius: 100%;
    transform: translate(453.5px,-55px);

}
#storypic6{
    height: 53px;
    width: 53px;

    border-radius: 100%;
    transform: translate(476.5px,-55px);

}
#storypic7{
    height: 53px;
    width: 53px;

    border-radius: 100%;
    transform: translate(499.75px,-55px);

}
#storypic8{
    height: 53px;
    width: 53px;

    border-radius: 100%;
    transform: translate(522.75px,-55px);

}

.storyText{
    transform: translate(13px,60px);

    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    align-self: start;
}
