body{
    margin: 0px;
    margin-top: -25px;
    

}

.menue{
    background-color: black;
    width: 250px;
    height: 100%;
    margin-top: -135px;
    padding-top: 25px;
    position: fixed;

}
.menue1{
    transform: translateY(50px);
}
#ppic{
    height: 22px;
    width: 22px;
    border-radius: 100%;
    margin-right: 20px;
    transform: translateY(5px);
}
#picture{
    
    transform: translateY(-10px);
}

#logo{
    margin-top: 35px;
    padding-left: 15px;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
    text-decoration: none;
}

.fa-house{
    color: white;
    width: 40px;
    
}

.fa-magnifying-glass{
    color: white;
    width: 40px;
}
.fa-compass{
    color: white;
    width: 40px;

}

.fa-film{
    color: white;
    width: 40px;
}
.fa-paper-plane{
    color: white;
    width: 40px;
}
.fa-heart{
    color: white;
    width: 40px;
}

.fa-square-plus{
    color: white;
    width: 40px;
}

.fa-threads{
    color: white;
    width: 40px;
}
.fa-bars{
    color: white;
    width: 40px;
}
.menue ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 22px;
    font-size: 16px;
    font-family: sans-serif;
    padding-left: 25px;
    padding-top: 35px;
    box-sizing: border-box;
}

.account{
   height: 737px;
   width: 486px;
   background-color: black;
   margin-left: 1050px;
   margin-top: -110px;
}

#accountpic{
  height: 45px;
  width: 45px;
  border-radius: 100%;

  margin-left: 35px;
  
}
#accountname{
    font-family: sans-serif;
    font-size: 14px;
    transform: translateY(-40px);
    margin-left: 90px ;
}
#yourname{
    font-family: sans-serif;
    font-size: 14px;
    transform: translateY(-40px);
    margin-left: 90px ;
    color: #979797;
}
#swichbtn{
    font-family: sans-serif;
    font-size: 12.5px;
    transform: translateY(-65px);
    margin-left: 285px;
    color: #5896ed;
}
#Suggested{
    font-family: sans-serif;
    font-size: 13.75px;
    transform: translateY(-25px);
    margin-left: 35px ;
    color: #979797;
}
#Seeall{
    font-family: sans-serif;
    font-size: 12px;

    margin-left: 285px;
    transform: translateY(-40px);
}
#accfooter{
    font-family: sans-serif;
    font-size: 12px;
    color: #696969;
    margin-left: 35px;
    transform: translateY(305px);
}
#accfooter1{
    font-family: sans-serif;
    font-size: 12px;
    color: #696969;
    margin-left: 35px;
    transform: translateY(310px);
}
#accfooter2{
    font-family: sans-serif;
    font-size: 12px;
    color: #696969;
    margin-left: 35px;
    transform: translateY(333px);
}



